* {
    margin: 0;
    box-sizing: border-box;
    
}

.content button {
    padding: .75em 1.5em;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
    border: solid #F4E04D 1px;
    color: rgba(255, 255, 255, 0.8);
    
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#hello {
    color: #F4E04D;
    font-weight: normal;
}
#name {
    color: rgba(255, 255, 255, 0.8);
    font-size: 5rem;
    font-weight: normal;
}
#name span {
    color: #F4E04D;
}
#design {
    color: rgba(255, 255, 255, 0.3);
    font-size: 5rem;
    font-weight: normal;
}
#design span {
    color: #F4E04D;
}
#developer {
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    margin: 1rem 0;
    
}
#developer span {
    color: #F4E04D;
}