.container {
    /* background-color: aqua; */
    position: relative;
    height: 25rem;
    z-index: -99;
}
#projects {
    position: absolute;
    top: -110px;
    right: 0;
    color: rgba(244, 225, 77, 0.2);
    font-weight: normal;
    font-size: 23rem;
    -webkit-text-stroke: 2px #234c60;
    
}
